body {
    background-color: rgba(0, 0, 229, 0.06);
}

header {
    background-color: #007acc;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

header h1 {
    margin: 0;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-weight: bold;
}

.row {
    margin-top: 50px;
}

hr {
    border-width: 3px;
    border-color: #2e99a9;
    margin: 30px 0;
}

.name {
    font-weight: bold;
}

.badge {
    font-size: 13px;
    border-radius: 1px;
    margin-right: 10px;
}

.top {
    text-align: center;
    font-size: 25px;
}

.question {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

img {
    width: 50%;
    float: left;
}

.below {
    margin-top: 0px;
    clear: left;
}

.music {
    font-size: 28px;
    position: relative;
    left: 70px;
}

.table{
    clear: left;
    margin-top: 15px;
}

#display {
    margin-top: 5px;
}

.chart-container{
    position: relative;
    width: 80%;
    height: 80%;
}

#myRadarChart{
    margin-left: 200px;
    display: inline-block;
}

#myRadarRankChart {
    margin-left: 200px;
}

#answer {
    margin-top: 5px;
}

table {
    left: 70px;
}

.change {
    margin-left: 450px;
}

#convert {
    margin-left: 200px;
}

#continue {
    float: left;
    margin-right: 10px;
}